<ion-header>
  <ion-toolbar>
    <ion-title>Viaje Publicado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1>Tu viaje ha sido publicado con éxito</h1>
    <p>El N° de tu viaje es el N123456789</p>
    <p>Comparte tu viaje para que otros usuarios puedan verlo</p>

    <ion-img src="assets/icon/car-icon.svg"></ion-img>

    <!-- Botón Ver viajes publicados con NavController -->
    <ion-button expand="block" (click)="verViajesPublicados()">Ver viajes publicados</ion-button>
  </div>
</ion-content>
