.container {
    text-align: center;
  }
  
  h1 {
    color: #00B1FF;
    font-size: 2rem;
  }
  
  p {
    color: #666;
    font-size: 1.2rem;
  }
  
  ion-card {
    background-color: #00B1FF;
    color: white;
    border-radius: 10px;
    margin: 20px 0;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  ion-img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .center {
    text-align: center;
  }
  