<ion-header>
  <ion-toolbar>
    <ion-title>Chofer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-item>
      <ion-input placeholder="DÓNDE PARTES"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>

    <ul class="locations">
      <li>CONCEPCIÓN, CHILE</li>
      <li>CONCEPCIÓN, BIO BIO</li>
      <li>CONCEPCIÓN, CENTRO</li>
      <li>MALL CENTRO, BIO BIO</li>
      <li>PAICAVI, CONCEPCIÓN</li>
      <li>PLAZA PERÚ, BIO BIO</li>
    </ul>

    <ion-button expand="block">
      <ion-icon name="locate-outline" slot="start"></ion-icon>
      Usar Mi Ubicación
    </ion-button>
  </div>
</ion-content>
