.container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #00B1FF;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    background-color: #00B1FF;
    color: white;
  }
  