<ion-header>
  <ion-toolbar>
    <ion-title>Te Llevo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1>TE LLEVO!</h1>

    <h2>Política de Privacidad</h2>
    <p>
      1. INTRODUCCIÓN<br>
      Bienvenido a Te Llevo. Valoramos tu privacidad y nos comprometemos a proteger tu información personal...
    </p>
    <!-- Aquí va el contenido de la política de privacidad -->

    <h2>Términos y Condiciones</h2>
    <p>
      1. Aceptación de los términos<br>
      Al acceder y utilizar la aplicación Te Llevo, aceptas estos términos y condiciones...
    </p>
    <!-- Aquí va el contenido de los términos y condiciones -->
    
    <h3>Contacto</h3>
    <p>
      Para cualquier consulta sobre estos términos y condiciones, por favor contáctanos en:<br>
      Correo electrónico: [tuemailjemplo.com]<br>
      Dirección: [Tu dirección en Chile]
    </p>
  </div>
</ion-content>
