.container {
    text-align: center;
  }
  
  ion-item {
    background-color: #e0f7ff;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  ion-button {
    background-color: #00B1FF;
    color: white;
    margin-top: 20px;
  }
  