<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edita tu Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <ion-item>
      <ion-input value="correo@duocuc.cl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input value="Javier"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input value="Cerna"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" value="•••••••••••" clearInput="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" value="•••••••••••" clearInput="true"></ion-input>
    </ion-item>

    <ion-button expand="block">Guardar</ion-button>
  </div>
</ion-content>
