.container {
    text-align: center;
  }
  
  h1 {
    color: #00B1FF;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  ion-item {
    background-color: #00B1FF;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  ion-label {
    font-size: 1.2rem;
  }
  
  ion-tab-bar {
    background-color: #00B1FF;
    color: white;
  }
  