.container {
    text-align: center;
  }
  
  h1 {
    color: #00B1FF;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  ion-button {
    --border-radius: 8px;
    --background: #00B1FF;
    --color: white;
  }
  
  ion-tab-bar {
    color: white;
  }
  