
<ion-content class="ion-padding">
  <div class="container">
    <h1>VIAJES DISPONIBLES</h1>

      <!-- Viaje 1 -->
      <ion-item>
        <ion-label>
          <strong>PARTIDA:</strong> DUOC UC, CHILE<br>
          <strong>DESTINO:</strong> CONCEPCIÓN, CHILE<br>
          <strong>HOY, 2 PASAJERO(S)</strong> 17:30HRS
        </ion-label>
        <ion-button fill="outline" slot="end">VIAJAR</ion-button>
      </ion-item>

      <!-- Viaje 2 -->
      <ion-item>
        <ion-label>
          <strong>PARTIDA:</strong> DUOC UC, CHILE<br>
          <strong>DESTINO:</strong> CONCEPCIÓN, CHILE<br>
          <strong>HOY, 2 PASAJERO(S)</strong> 17:18HRS
        </ion-label>
        <ion-button fill="outline" slot="end">VIAJAR</ion-button>
      </ion-item>

      <!-- Viaje 3 -->
      <ion-item>
        <ion-label>
          <strong>PARTIDA:</strong> DUOC UC, CHILE<br>
          <strong>DESTINO:</strong> CONCEPCIÓN, CHILE<br>
          <strong>HOY, 2 PASAJERO(S)</strong> 17:37HRS
        </ion-label>
        <ion-button fill="outline" slot="end">VIAJAR</ion-button>
      </ion-item>
    </div>
  <!-- Barra de Navegación -->

</ion-content>
