<ion-header>
  <ion-toolbar>
    <ion-title>Información Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h1>INFORMACIÓN VEHÍCULO</h1>

    <ion-item>
      <ion-label position="floating">Patente Vehículo</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Marca</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Modelo</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Año</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Color</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-button expand="block">Actualizar</ion-button>
  </div>
</ion-content>
