.container {
    text-align: center;
  }
  
  h1 {
    color: #00B1FF;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  ion-card {
    background-color: #00B1FF;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  ion-card-title {
    color: #ffffff;
  }
  
  ion-button {
    --background: #333;
    --color: white;
  }
  
  ion-tab-bar {
    color: white;
  }
  